<a class="btn btn-default pull-right btn-primary" ui-sref="authors.new" role="button" ng-if="isAuthenticated()">New</a>

<table datatable="ng" dt-options="dtOptions" class="table table-bordered" ng-if="isAuthenticated()">


       <thead>
         <th>ID</th>
         
                         <th>Name</th>
                         <th>Profile</th>
                         <th>Url</th>
          <th>Actions</th>


        </thead>
        <tbody>
        <tr ng-repeat=" author in authors">
            <td>{{ author.id  }}</td> 
            
                         <td>{{ author.name }}</td>
                         <td>{{ author.profile }}</td>
                         <td>{{ author.url }}</td>
            <td><a ui-sref="authors.edit({id:author.id })" class="btn btn-default btn-warning" role="button"  id="editButton"><i class="fa fa-edit"></i></a>
            <button class="btn btn-default btn-danger" ng-click="deleteAuthor(author.id)" id="deleteButton"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>

</table>
