


      
				 
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Tittle</label>
            <div class="col-sm-4">
                 <input   type="text" id="tittle" name="tittle"  class="form-control"
                  ng-model="post.data.attributes.tittle" placeholder="tittle*" required>
            </div>
         </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Body</label>
            <div class="col-sm-4">
                <textarea type="text" id="body" name="body"  class="form-control"
                 ng-model="post.data.attributes.body" placeholder="body*" rows="5" required></textarea>
            </div>
          </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Author</label>
            <div class="col-sm-4">
                 <input   type="text" id="author" name="author"  class="form-control"
                  ng-model="post.data.attributes.author" placeholder="author*" required>
            </div>
         </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Creation_Date</label>
            <div class="col-sm-4">
                 <input   type="date" id="creation_date" name="creation_date"  class="form-control"
                 formatdate ng-model="post.data.attributes.creation_date" placeholder="creation_date*" required>
            </div>
         </div>
        <div class="form-group">
               <label for="is_active" class="col-sm-2 control-label">Published</label>
               <div class="col-sm-4">
                <label class="radio-inline">
                <input type="radio" name="published" id="published" ng-value="1" ng-model="post.data.attributes.published">
                True</label>
                <label class="radio-inline">
                <input type="radio" name="published" id="published" ng-value="0" ng-model="post.data.attributes.published">
                False</label>
            </div>
        </div>

                     
       
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
            <button  ng-disabled="loading" class="btn btn-primary " type="submit" >

                              <span ng-hide="loading">Save</span>
                              <span ng-show="loading">Loading....</span></button>

      </div>
   </div>
    
              

         
              
              
              

  

				
